<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppPathAsFirstArg</key>
	<false/>
	<key>Creator</key>
	<string>Platypus-4.4</string>
	<key>Droppable</key>
	<false/>
	<key>InterpreterParams</key>
	<array/>
	<key>OutputType</key>
	<string>Progress Bar</string>
	<key>RemainRunningAfterCompletion</key>
	<true/>
	<key>RequiresAdminPrivileges</key>
	<false/>
	<key>ScriptInterpreter</key>
	<string>/bin/sh</string>
	<key>Secure</key>
	<true/>
	<key>TextBackground</key>
	<string>#ffffff</string>
	<key>TextEncoding</key>
	<integer>4</integer>
	<key>TextFont</key>
	<string>Monaco</string>
	<key>TextForeground</key>
	<string>#000000</string>
	<key>TextSettings</key>
	<data>
	YnBsaXN0MDDUAQIDBAUICwxUJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLR
	BgdUcm9vdIABogkKVSRudWxsTxEPkiMhL2Jpbi9zaAoKZWNobyAiV2VsY29tZSB0byB0
	aGUgQW5kZXJzZW5UZWNoIEVycm9yIFJlcG9ydGVyIgoKCiMgQVRURU5USU9OOgojIElm
	IHlvdSBhcmUgcmVhZGluZyB0aGlzLCB5b3UgaGF2ZSBvcGVuZWQgdGhlIGZpbGUgaW4g
	YSB0ZXh0IGVkaXRvci4KIyBJZiB5b3Ugd291bGQgbGlrZSB0byAqcnVuKiB0aGlzIGV4
	YW1wbGUgcmF0aGVyIHRoYW4gKnJlYWQqIGl0LCB5b3UKIyBzaG91bGQgb3BlbiBUZXJt
	aW5hbC5hcHAsIGRyYWcgdGhpcyBkb2N1bWVudCdzIGljb24gb250byB0aGUgdGVybWlu
	YWwKIyB3aW5kb3csIGJyaW5nIFRlcm1pbmFsLmFwcCB0byB0aGUgZm9yZWdyb3VuZCAo
	aWYgbmVjZXNzYXJ5KSBhbmQgaGl0IHJldHVybi4KCiMgV3JhcHBlciBmdW5jdGlvbiBm
	b3IgaW50ZXJmYWNpbmcgdG8gUGFzaHVhLiBXcml0dGVuIGJ5IENhcnN0ZW4KIyBCbHVl
	bSA8Y2Fyc3RlbkBibHVlbS5uZXQ+IGluIDEwLzIwMDMsIG1vZGlmaWVkIGluIDEyLzIw
	MDMgKGluY2x1ZGluZwojIGEgY29kZSBzbmlwcGV0IGNvbnRyaWJ1dGVkIGJ5IFRvciBT
	aWd1cmRzc29uKSwgMDgvMjAwNCBhbmQgMTIvMjAwNC4KIyBBcyAxc3QgYXJndW1lbnQs
	IHlvdSBtdXN0IHBhc3MgYSBjb25maWd1cmF0aW9uIHN0cmluZwojIEFzIDJuZCBhcmd1
	bWVudCwgeW91IG1heSBwYXNzIHRoZSBlbmNvZGluZyB0byB1c2UgKHNlZSBkb2N1bWVu
	dGF0aW9uKQojIEFzIDNyZCBhcmd1bWVudCwgeW91IG1heSBwYXNzIHRoZSBwYXRoIHRv
	IHRoZSBQYXNodWEgYXBwbGljYXRpb24sCiMgICAgICAgICAgICAgICAgICBpZiBpdCdz
	IG5vdCBpbiBvbmUgb2YgdGhlIHN0YW5kYXJkIGxvY2F0aW9ucy4KcGFzaHVhX3J1bigp
	IHsKCgkjIFdyaXRlIGNvbmZpZyBmaWxlCglwYXNodWFfY29uZmlnZmlsZT1gL3Vzci9i
	aW4vbWt0ZW1wIC90bXAvcGFzaHVhX1hYWFhYWFhYWGAKCWVjaG8gIiQxIiA+ICRwYXNo
	dWFfY29uZmlnZmlsZQoKCSMgRmluZCBQYXNodWEgYmluYXJ5LiBXZSBkbyBzZWFyY2gg
	Ym90aCAuIGFuZCBkaXJuYW1lICIkMCIKCSMgLCBhcyBpbiBhIGRvdWJsZWNsaWNrYWJs
	ZSBhcHBsaWNhdGlvbiwgY3dkIGlzIC8KCSMgQlRXLCBhbGwgdGhlc2UgcXVvdGVzIGJl
	bG93IGFyZSBuZWNlc3NhcnkgdG8gaGFuZGxlIHBhdGhzCgkjIGNvbnRhaW5pbmcgc3Bh
	Y2VzLgoJYnVuZGxlcGF0aD0iUGFzaHVhLmFwcC9Db250ZW50cy9NYWNPUy9QYXNodWEi
	CglpZiBbICIkMyIgPSAiIiBdCgl0aGVuCgkJbXlwYXRoPWBkaXJuYW1lICIkMCJgCgkJ
	Zm9yIHNlYXJjaHBhdGggaW4gIiRteXBhdGgvUGFzaHVhIiAiJG15cGF0aC8kYnVuZGxl
	cGF0aCIgIi4vJGJ1bmRsZXBhdGgiIFwKCQkJCQkJICAiL0FwcGxpY2F0aW9ucy8kYnVu
	ZGxlcGF0aCIgIiRIT01FL0FwcGxpY2F0aW9ucy8kYnVuZGxlcGF0aCIKCQlkbwoJCQlp
	ZiBbIC1mICIkc2VhcmNocGF0aCIgLWEgLXggIiRzZWFyY2hwYXRoIiBdCgkJCXRoZW4K
	CQkJCXBhc2h1YXBhdGg9JHNlYXJjaHBhdGgKCQkJCWJyZWFrCgkJCWZpCgkJZG9uZQoJ
	ZWxzZQoJCSMgRGlyZWN0b3J5IGdpdmVuIGFzIGFyZ3VtZW50CgkJcGFzaHVhcGF0aD0i
	JDMvJGJ1bmRsZXBhdGgiCglmaQoKCWlmIFsgISAiJHBhc2h1YXBhdGgiIF0KCXRoZW4K
	CQllY2hvICJFcnJvcjogUGFzaHVhIGNvdWxkIG5vdCBiZSBmb3VuZCIKCQlleGl0IDEK
	CWZpCgoJIyBNYW5hZ2UgZW5jb2RpbmcKCWlmIFsgIiQyIiA9ICIiIF0KCXRoZW4KCQll
	bmNvZGluZz0iIgoJZWxzZQoJCWVuY29kaW5nPSItZSAkMiIKCWZpCgoJIyBHZXQgcmVz
	dWx0CglyZXN1bHQ9YCIkcGFzaHVhcGF0aCIgJGVuY29kaW5nICRwYXNodWFfY29uZmln
	ZmlsZSB8IHNlZCAncy8gLzs7Oy9nJ2AKCgkjIFJlbW92ZSBjb25maWcgZmlsZQoJcm0g
	JHBhc2h1YV9jb25maWdmaWxlCgoJIyBQYXJzZSByZXN1bHQKCWZvciBsaW5lIGluICRy
	ZXN1bHQKCWRvCgkJa2V5PWBlY2hvICRsaW5lIHwgc2VkICdzL15cKFtePV0qXCk9Liok
	L1wxLydgCgkJdmFsdWU9YGVjaG8gJGxpbmUgfCBzZWQgJ3MvXltePV0qPVwoLipcKSQv
	XDEvJyB8IHNlZCAncy87OzsvIC9nJ2AJCQoJCXZhcm5hbWU9JGtleQoJCXZhcnZhbHVl
	PSIkdmFsdWUiCgkJZXZhbCAkdmFybmFtZT0nJHZhcnZhbHVlJwoJZG9uZQoKfSAjIHBh
	c2h1YV9ydW4oKQoKCiMgRGVmaW5lIHdoYXQgdGhlIGRpYWxvZyBzaG91bGQgYmUgbGlr
	ZQojIFRha2UgYSBsb29rIGF0IFBhc2h1YSdzIFJlYWRtZSBmaWxlIGZvciBtb3JlIGlu
	Zm8gb24gdGhlIHN5bnRheAoKY29uZj0iCiMgU2V0IHRyYW5zcGFyZW5jeTogMCBpcyB0
	cmFuc3BhcmVudCwgMSBpcyBvcGFxdWUKKi50cmFuc3BhcmVuY3k9MC45NQoKIyBTZXQg
	d2luZG93IHRpdGxlCioudGl0bGUgPSBpRHJvaWQgRXJyb3IgUmVwb3J0ZXIKCiMgSW50
	cm9kdWN0b3J5IHRleHQKdGIudHlwZSA9IHRleHQKdGIuZGVmYXVsdCA9IFdlbGNvbWUg
	dG8gdGhlIEFuZGVyc2VuVGVjaCBpRHJvaWQgUmVwb3J0ZXIhIFBsZWFzZSBDaG9vc2Ug
	dGhlIFJlYXNvbiBvZiBSZXBvcnRpbmcgQmVsb3chCgojIERlZmluZSByYWRpb2J1dHRv
	bnMKcmIudHlwZSA9IHJhZGlvYnV0dG9uCnJiLmxhYmVsID0gRXJyb3JzCnJiLm9wdGlv
	biA9IEluc3RhbGxlciAtIEdlbmVyYWwKcmIub3B0aW9uID0gSW5zdGFsbGVyIC0gT3Bl
	bmlCb290IChGcmVzaCkKcmIub3B0aW9uID0gSW5zdGFsbGVyIC0gT3BlbmlCb290IChV
	cGdyYWRlKQpyYi5vcHRpb24gPSBBbmRyb2lkIFN5c3RlbQpyYi5vcHRpb24gPSBVbmlu
	c3RhbGwKcmIub3B0aW9uID0gT3RoZXIKcmIuZGVmYXVsdCA9IEluc3RhbGxlciAtIEdl
	bmVyYWwKCiMgQWRkIGEgY2FuY2VsIGJ1dHRvbiB3aXRoIGRlZmF1bHQgbGFiZWwKY2Iu
	dHlwZT1jYW5jZWxidXR0b24KCiI7CgojIFNldCB0aGUgaW1hZ2VzJyBwYXRocyByZWxh
	dGl2ZSB0byB0aGlzIGZpbGUncyBwYXRoIC8gCiMgc2tpcCBpbWFnZXMgaWYgdGhleSBj
	YW4gbm90IGJlIGZvdW5kIGluIHRoaXMgZmlsZSdzIHBhdGgKaWNvbj0kKGRpcm5hbWUg
	IiQwIiknLy5pY29uLnBuZyc7CmJnaW1nPSQoZGlybmFtZSAiJDAiKScvLmRlbW8ucG5n
	JzsKCmlmIFsgLWUgIiRpY29uIiBdCnRoZW4KCSMgRGlzcGxheSBQYXNodWEncyBpY29u
	Cgljb25mPSIkY29uZgoJICAgICBpbWcudHlwZSA9IGltYWdlCgkgICAgIGltZy54ID0g
	NTMwCgkgICAgIGltZy55ID0gMjU1CgkgICAgIGltZy5wYXRoID0gJGljb24iCmZpCgpp
	ZiBbIC1lICIkYmdpbWciIF0KdGhlbgogCSMgRGlzcGxheSBiYWNrZ3JvdW5kIGltYWdl
	Cgljb25mPSIkY29uZgoJICAgICAgYmcudHlwZSA9IGltYWdlCgkgICAgICBiZy54ID0g
	MzAKCSAgICAgIGJnLnkgPSAyCgkgICAgICBiZy5wYXRoID0gJGJnaW1nIgpmaQoKcGFz
	aHVhX3J1biAiJGNvbmYiCgplY2hvICJQYXNodWEgY3JlYXRlZCB0aGUgZm9sbG93aW5n
	IHZhcmlhYmxlczoiCmVjaG8gIiAgdGIgID0gJHRiIgplY2hvICIgIHR4ICA9ICR0eCIK
	ZWNobyAiICBvYiAgPSAkb2IiCmVjaG8gIiAgcG9wID0gJHBvcCIKZWNobyAiICByYiAg
	PSAkcmIiCmVjaG8gIiAgY2IgID0gJGNiIgplY2hvICIiCgoKaWYgWyAiJHJiIiA9ICJJ
	bnN0YWxsZXIiIF07IHRoZW4gCglybSAkSE9NRS8uc3NoL2tub3duX2hvc3RzCglTSCAu
	L1VwbGluay5zaDsKZmkKCmlmIFsgIiRyYiIgPSAiSW5zdGFsbGVyIC0gR2VuZXJhbCIg
	XTsgdGhlbgoJU0ggZXJyXzE2MDAuc2g7CmZpCmlmIFsgIiRyYiIgPSAiSW5zdGFsbGVy
	IC0gT3BlbmlCb290IChGcmVzaCkiIF07IHRoZW4KCVNIIGVycl8xNjAxLnNoOwpmaQpp
	ZiBbICIkcmIiID0gIkluc3RhbGxlciAtIE9wZW5pQm9vdCAoVXBncmFkZSkiIF07IHRo
	ZW4KCVNIIGVycl8xNjAyLnNoOwpmaQppZiBbICIkcmIiID0gIkFuZHJvaWQgU3lzdGVt
	IiBdOyB0aGVuCglTSCBlcnJfMTYwMy5zaDsKZmkKaWYgWyAiJHJiIiA9ICJVbmluc3Rh
	bGwiIF07IHRoZW4KCVNIIGVycl8xNjA1LnNoOwpmaQppZiBbICIkcmIiID0gIk90aGVy
	IiBdOyB0aGVuCglTSCBlcnJfMTYwNi5zaDsKZmkKEgABhqBfEA9OU0tleWVkQXJjaGl2
	ZXIACAARABYAHwAoADIANQA6ADwAPwBFD9sP4AAAAAAAAAIBAAAAAAAAAA0AAAAAAAAA
	AAAAAAAAAA/y
	</data>
	<key>TextSize</key>
	<real>10</real>
</dict>
</plist>
